body{
    background:#f5f6fa;
}

.sidebar{
    min-height:100vh;
}

.sidebar .nav-link{
    padding:15px;
    font-size:17px;
}

.sidebar .nav-link:hover{
    background:#0d6efd;
}

.card{
    border:none;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.card-header{
    font-weight:bold;
}